<section class="account">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="account-top">
                    <div class="logo">
                        <a href="/">
                            <img src="img/logo_blue.png" alt="Logo" />
                        </a>
                    </div>
                </div>
                <div class="account-create">
                    <h2>Forgot password</h2>
                    <p class="text-center">Enter your email address.</p>
                    <form action="">
                        <label for="signup-forgot-email">
                            Email
                            <input type="email" id="signup-forgot-email" placeholder="name@compamy.com">
                        </label>
                        <input class="btn btn-danger" type="submit" value="Sign Up">
                        <div class="back">
                            <p><a href="signin.html">Back</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>