<section class="account">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="account-top">
                    <div class="logo">
                        <a href="/">
                            <img src="img/logo_blue.png" alt="Logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 account-info">
                <div class="last-updates">
                    <h2 class="text-primary">Why Should I use Limecall</h2>

                    <p>Limecall provides your team members an anytime, anywhere, any device phone system to make or recieve business calls. It takes second to setup & det started.</p>
                    <ul>
                        <li>Distribite calls among team members</li>
                        <li>Get Phone Numbers in 58 countries, Instantly!</li>
                        <li>Automatic saving of call details in CRM & helpdesk.</li>
                        <li>Make calls form computer or mobile phone</li>
                        <li>Calling SMS & MMS automation</li>
                        <li>Send and recieve text messages</li>
                    </ul>
                </div>
                <hr>
                <div class="about">
                    <h2 class="text-primary">What is LimeCall?</h2>
                    <p>Limecall efficiently turns potential customers into qualified sales calls.</p>
                    <p>Your website visitors are hesitating, leaving every day without completely understanding your product/services. Maybe your website did not answer their questions. Limecall gives a personal one-on-one answer to your potential customer questions a free callback with your sales team.
                    <p>See how a real-time sales & marketing software can reduce your sales cycles & grow your business.</p>
                    <a href="#/" class="btn btn-outline-primary">More</a>
                </div>
            </div>
            <div class="col-lg-6 account-form">
                <h2>Signup For Free Trial</h2>
                <form action="">
                    <label for="signup-email">
                        Working Email address
                        <input type="email" id="signup-email" placeholder="name@company.com">
                    </label>
                    <label for="signup-password">
                        Company
                        <input type="text" id="signup-password" placeholder="Company">
                    </label>
                    <input class="btn btn-danger" type="submit" value="Next">
                    <div class="more-signup">
                        <p>Already have an account? <a href="signin.html">Sign in</a></p>
                    </div>
                    <div class="line"><span>Or</span></div>
                    <div class="more-socials">
                        <a href="#/" class="btn btn-outline-dark">
                            <img src="img/icon-google.svg" alt="Icon" />
                            Sign Up with google
                        </a>
                    </div>
                    <div class="privacy">
                        <p>This site is protected by reCAPTCHA and the Google <a href="#/">Privacy Policy</a> and <a
                                href="#/">Terms of Service</a> apply.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>