<section class="account">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 account-info">
                <div class="last-updates">
                    <h2 class="text-primary">Last updates</h2>
                    <div class="date">27 Jul 2020</div>
                    <h3>Spot prospective customers in seconds with custom segments!</h3>
                    <p>Keep an eye on chosen groups of customers in real-time. Save filter combinations as segments and view chosen groups of customers in one click.</p>
                    <a href="#/" class="btn btn-primary">Other updates</a>
                </div>
                <hr>
                <div class="about">
                    <h2 class="text-primary">What is LimeCall?</h2>
                    <p>Limecall efficiently turns potential customers into qualified sales calls.</p>
                    <p>Your website visitors are hesitating, leaving every day without completely understanding your product/services. Maybe your website did not answer their questions. Limecall gives a personal one-on-one answer to your potential customer questions a free callback with your sales team.
                    <p>See how a real-time sales & marketing software can reduce your sales cycles & grow your business.</p>
                    <a href="#/" class="btn btn-outline-primary">More</a>
                </div>
            </div>
            <div class="col-lg-6 account-form">
                <div class="logo">
                    <a href="/">
                        <img src="img/logo_blue.png" alt="Logo" />
                    </a>
                </div>
                <form action="">
                    <label for="signin-email">
                        Working Email address
                        <input type="email" id="signin-email" placeholder="name@company.com">
                    </label>
                    <label for="signin-password">
                        Password
                        <a href="forgot.html">Forgot password?</a>
                        <input type="password" id="signin-password" placeholder="**********">
                    </label>
                    <input class="btn btn-danger" type="submit" value="Sign In">
                    <div class="more-signup">
                        <p>Do not have LimeCall account? <a href="signup.html">Create account</a></p>
                    </div>
                    <div class="line"><span>Or</span></div>
                    <div class="more-socials">
                        <a href="#/" class="btn btn-outline-dark">
                            <img src="img/icon-google.svg" alt="Icon" />
                            Sign In with google
                        </a>
                    </div>
                    <div class="privacy">
                        <p>This site is protected by reCAPTCHA and the Google <a href="#/">Privacy Policy</a> and <a
                                href="#/">Terms of Service</a> apply.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>